/* ========= General CSS ============= */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
html, body {
  height:100%;
}

ul {
  text-align: left;
  padding-left:3%;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #152e47;
}
i {
  color: #129CF3;
  font-size: 25px;
}
li {
  font-size: 18px;
}

a:focus { outline: 0; }

/* ========= NavBar ============= */

.navbar-default {
  visibility: hidden;
  background-color: transparent;
  border-color: transparent;
  'opacity':'0'
  padding: 0% 3%;
  z-index: 110;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;

}
.navbar-header h4 {
  padding-top: 1vh;
  color: #129CF3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.container-navbar{
  font-size: 16px;
  font-weight: 400;
  padding-left: 3vh;
  padding-right: 3vh;
}
.navbar-default .navbar-nav>li>a {
  color: #B5B5B5;
  font-family: "Raleway", sans-serif;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #B5B5B5;
}
.navbar-default .navbar-nav > .active>a,
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
  background-color: transparent;
  color: #129CF3;
}

/* ========= Header ============= */

.header {
  height: 100%;
  background-image: url("../images/bk.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.header-photo img {
  max-width: 40vh;
  border: 2px solid #129CF3;
  padding: 1%;
  border-radius: 50%;
  margin-top: 0;
}
.container {
  padding-top: 6vh;
  padding-bottom: 6vh;
  position: relative;
  height: 100%;
  overflow-y: hidden;
}
.row-centered{
  padding-top: 15vmax;
}
@media all and (max-width: 1000px)
{
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .img-front{
    height:30vh;
    margin: auto;
  }
  .row-centered{
    padding-top: 0%;
  }
  .header-photo img {
    margin-top: 8vmax;
    margin-bottom: 8vmax;
  }
}
.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(30,50,80,0.5);
}
.header-text h1 {
  text-align: left;
  color: #fff;
  padding: 0;
  font-size: 42px;
  font-weight: 600;
  line-height: 45px;
  text-transform: uppercase;
}
.header-text p {
  font-size: 23px;
  margin: 0;
  text-align: left;
  color: #fff;
}
@media all and (max-width: 1000px)
{
  .header-text h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  .header-text p {
    font-size: 18px;
    text-align: center;
  }
  .header-btns a {
    text-align: center;
    font-size: 10px;
    margin-bottom: 5%
  }
}
.header-btns {
  text-align: left;
  padding-top: 10%;
}
#btn-contact {
  color: #129cf3;
  background: transparent;
  border: 1px solid #129cf3;
  padding: 1% 3%;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
#btn-contact:hover {
  background-color: #129cf3;
  color: #fff;
}
#btn-about {
  color: #A9ADB0;
  margin-left: 5%;
  background: transparent;
  font-weight: 500;
  padding: 1% 3%;
  font-size: 19px;
  text-transform: uppercase;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
#btn-about:hover {
  color: #fff;
}
#btn-about i {
  color: #129CF3;
  font-size: 25px;
  padding-left: 5%;
}
.btn-contact {
  color: #129cf3;
  background: transparent;
  border: 1px solid #129cf3;
  padding: 1% 3%;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-contact:hover {
  background-color: #129cf3;
  color: #fff !important;
}
.btn-contact:active, .btn-contact:link, .btn-contact:visited {
  color: #129cf3;
}
.btn-about {
  color: #A9ADB0;
  margin-left: 5%;
  background: transparent;
  font-weight: 500;
  padding: 1% 3%;
  font-size: 19px;
  text-transform: uppercase;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-about:hover {
  color: #fff;
}
.btn-about i {
  color: #129CF3;
  font-size: 25px;
  padding-left: 5%;
}
@media all and (max-width: 1000px)
{
  .header-btns {
    text-align: center;
  }
  .header-text h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  .header-text p {
    font-size: 16px;
    line-height: 20px;
  }
  #btn-about {
    font-size: 16px;
  }
  #btn-contact {
    font-size: 16px;
  }
}

/* ========= About me ============= */

.about-me-title {
  padding-bottom: 20px;
  text-align: center;
}
.about-me-title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  color: #152e47;
}
.about-me-title h2:after {
  text-align: center;
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
  margin-left: -30px;
}
.about-me-title p {
  margin-top: 40px;
}
.about-me-item {
  position: relative;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.i-am-centered { margin-left: 20%; max-width: 80%;}
.about-me-item div {
  position: relative;
  top: 0;
  left: 0;
}
.about-me-item div i {
  font-size: 125px;
  text-align: center;
  color: #129CF3;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.about-me-item h3 {
  color: #152e47;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}
.about-icons{
  padding-top:1vmin;
}
@media all and (max-width: 600px)
{
  .about-icons{
    padding-top:5vmin;
  }
}

/* ========= Experience ============= */

.experience-title {
  padding-bottom: 4%;
}
.experience-overlay {
  height: 100%;
  background-color: rgba(21,46,71,0.9);
}
.experience-title h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}
.experience-title h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
  margin-left:-30px;
}
.experience {
  background-image: url("../images/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.exp-img{
  display: block;
  margin: auto;
  margin-top: 4vmin;
  width:12vmin;
}
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #129CF3;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}
.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 30px;
  clear: both;
}
.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
  float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 50px;
}
.img-centered {
  margin: auto;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -8px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner > span {
  display: block;
}
/* Circles */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #129CF3;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  float: left;
}
/* Square */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6;
  padding: 1.2em;
  margin-left: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* Arrow */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -8px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #152e47;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 {
  color: #129CF3;
  margin-top: 0;
  margin-bottom: 1vh;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  margin: 0;
}
.btn-timeline {
  padding-top: 5vh;
  text-align: center;
}

@media all and (max-width: 600px)
{
  .timeline-centered .timeline-entry {
    position: relative;
    width: 90%;
    float: right;
    margin-bottom: 30px;
    clear: both;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    border-color: transparent transparent transparent transparent;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: transparent;
  }
  .timeline-centered:before {
    bottom: 180px;
  }
  .timeline-centered{
    margin-bottom: 0;
  }
  .timeline-centered .timeline-entry.begin {
    height: 0;
  }
}


/* ========= skills ============= */
.skills h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  margin-bottom: 40px;
  color: #152e47;
}
.skills h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
  margin-left: -30px;
}
.skills h3 {
  font-size: 55px;
  color: #152e47;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}
.medium-img{
  max-height:20vh;
  margin: auto;
}
@media all and (max-width: 600px)
{
  .medium-img{
    margin-left: 15%;
  }
}

/* ========= Projects ============= */

.projects-title h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  margin-bottom: 5%;
}
.projects-title h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
  margin-left:-30px;
}
.text-projects{
  text-align: left;
}
.projects {
  background-image: url("../images/2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
}
.sm-img{
  width:12%;
  height:12%;
}
.projects-overlay {
  background-color: rgba(17, 34, 51, 0.92);
  height: 100%
}
.carousel-indicators {
  bottom: -10px;
}
.carousel-inner .item img {
  border: 2px solid #129CF3;
  border-radius: 50%;
  padding: 3px;
}
.projects-caption {
  height: 60vh;
}
@media all and (max-width: 600px)
{
  .projects-caption {
    height: 90vmax;
  }
}
.projects-caption h2 {
  color: #129CF3;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  margin-top: 2%;
}
.projects-caption h4 {
  color: #129CF3;
  margin-bottom: 2%;
}
.projects-caption h4 span {

  color: #D8D8D8;
  font-style: italic;
  font-weight: 300;
}
.gitbut{
  font-size: 23px;
}
.projects-caption p {
  color: #D8D8D8;
  font-size: 18px;
  line-height: 29px;
}
.btn-repo {
  color: #129cf3;
  background: transparent;
  border: 1px solid #129cf3;
  padding: 1% 3%;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-repo:hover {
  background-color: #129cf3;
  color: #fff;
}
.btn-repo i {
  color: inherit;
}

.btn-info {
  margin-top: 3%;
  color: #129cf3;
  background: transparent;
  border: 1px solid #129cf3;
  padding: 1% 2%;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-info:hover , .btn-info:active, .btn-info:focus , .btn-info:enabled , .btn-info:visited, .btn-info:link {
  text-decoration: none;
}


#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  top: 20%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  color: #152e47;
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 125px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #642848;
  opacity: 0.3;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #642848;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.info-popup, .info-popup:hover , .info-popup:active, .info-popup:focus , .info-popup:enabled , .info-popup:visited, .info-popup:link {
  text-decoration: none !important;
  color: #129cf3;
}
.light-blue {
  color: #129cf3;
}

/* ========= Contact ============= */

.contact h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  margin-bottom: 40px;
  color: #152e47;
}
.contact h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
  margin-left: -30px;
}
.contact input, textarea {
  margin-bottom: 7px;
}
.contact-form .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 21px;
  color: #555;
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  margin-bottom: 15px;
  opacity: .8;
  outline: 0px !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;

}

.snicons {
  margin-top: 15px;
}

#message {
  height: 117px;
  resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {

  background-color: transparent;
  border: 1px solid #129CF3;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: #129CF3;
  outline: 0px !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.submit-btn:hover {
  background: #129CF3;
  color: #fff;
  border-color: #129CF3;
}
#btn-links i {
  padding: 0;
  margin: 0;
  color: #129CF3;
  background: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
#btn-links i:hover {
  color: #19334d;
}
#btn-links2 i {
  padding: 0;
  margin: 0;
  color: #129CF3;
  background: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
#btn-links2 i:hover {
  color: #19334d;
}

/* ========= Footer ============= */
.footer {
  background-color: #123;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 5px solid #129CF3;
}
#copyright {
  width: 60%;
}
#copyright p {
  color: #8C8B8A;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
#copyright p a {
  text-decoration: none;
  color: #129CF3;
}
.scroll-top {
  text-align: right;
}
.scroll-top a {
  background-color: #129CF3;
  padding: 25px;
}
.scroll-top a i {
  color: #fff;
  font-size: 35px;
}
@media all and (max-width: 600px)
{
  #copyright p {
    font-size: 12px;
  }
  .scroll-top a {
    padding: 15px;
  }
  .scroll-top a i {
    font-size: 35px;
  }
}
